# SPDX-License-Identifier: LGPL-2.1-or-later
mkosi.output/
mkosi.cache/
mkosi.tools/
mkosi.tools.manifest
mkosi.key
mkosi.crt
mkosi.version
mkosi.rootpw
.mkosi-private
mkosi.packages/
mkosi.profiles/custom/mkosi.extra/usr/local/bin/
versions/
